body {
    font-family: sans-serif;
  }
  
.inner-container {
  display: flex;
  gap: 50px;
  margin: 0 50px;
  }


#posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}

#post{
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 10px;
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(7, 3, 3, 0.1),
              0 0  0 2px rgb(237, 226, 226),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
 }
 

#edit-button{
  display: none;
}

#left{
  margin-top: 20px;
}